@font-face {
  font-family: "calculator";
  src: url("./fonts/Open\ 24\ Display\ St.ttf") format("truetype");
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
  background-image: url(./images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  align-self: center;
  font-weight: 100px;
  font-weight: 900;
  font-size: 45pt;
}

footer {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}

.pomodoro {
  width: 500px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.781);
  -webkit-box-shadow: -4px -1px 58px -3px rgba(184, 180, 184, 1);
  -moz-box-shadow: -4px -1px 58px -3px rgba(184, 180, 184, 1);
  box-shadow: -4px -1px 58px -3px rgba(184, 180, 184, 1);
  border-radius: 20px;
}

.control-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.control-1 .art-break {
  padding: 20px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: rgb(206, 241, 6);
  font-size: 30pt;
  font-family: "calculator";
}

.control-1 .art-break #break-length {
  background: rgba(255, 255, 255, 0.287);
  width: 100px;
  border-radius: 20px;
}

.control-1 .art-break .div-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control-1 .art-sess {
  padding: 20px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: rgb(206, 241, 6);
  font-size: 30pt;
  font-family: "calculator";
}

.control-1 .art-sess #session-length {
  background: rgba(255, 255, 255, 0.287);
  width: 100px;
  border-radius: 20px;
}

.control-1 .art-sess .div-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control-2 {
  padding-top: 10px 0px;
  display: flex;
  justify-content: space-evenly;
}

.control-2 .art-start {
  padding: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.control-2 .art-start button {
  display: flex;
}

.control-2 .art-reset {
  padding: 20px 0px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.timer {
  align-self: center;
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.287);
  color: rgb(255, 179, 0);
  font-family: "calculator";
}

.timer #timer-label {
  height: 50px;
  font-size: 20pt;
}

.timer #time-left {
  font-size: 50pt;
}

img {
  width: 40px;
}

button {
  width: 35;
}

@media screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
  }
  .title {
    align-self: center;
    font-weight: 100px;
    font-weight: 900;
  }
  .pomodoro {
    width: 80%;
  }
}